# USED CARS
### we need a better name

** This notebook's purpose is only for the german dataset cleaning and manipulation into an actionable dataframe to our purposes

In [1]:
##lib importing
import pandas as pd

In [2]:
##files loading
path = "./datasets/"
filename = "autos.csv"
german = pd.read_csv(path + filename, encoding='latin1')
german

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

### Quick look into the dataset

In [3]:
german.shape

(371528, 20)

In [4]:
german.dtypes

dateCrawled            object
name                   object
seller                 object
offerType              object
price                   int64
abtest                 object
vehicleType            object
yearOfRegistration      int64
gearbox                object
powerPS                 int64
model                  object
kilometer               int64
monthOfRegistration     int64
fuelType               object
brand                  object
notRepairedDamage      object
dateCreated            object
nrOfPictures            int64
postalCode              int64
lastSeen               object
dtype: object

In [5]:
german.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [6]:
german.dtypes

dateCrawled            object
name                   object
seller                 object
offerType              object
price                   int64
abtest                 object
vehicleType            object
yearOfRegistration      int64
gearbox                object
powerPS                 int64
model                  object
kilometer               int64
monthOfRegistration     int64
fuelType               object
brand                  object
notRepairedDamage      object
dateCreated            object
nrOfPictures            int64
postalCode              int64
lastSeen               object
dtype: object

In [7]:
## Null Values
german.isna().sum()

dateCrawled                0
name                       0
seller                     0
offerType                  0
price                      0
abtest                     0
vehicleType            37869
yearOfRegistration         0
gearbox                20209
powerPS                    0
model                  20484
kilometer                  0
monthOfRegistration        0
fuelType               33386
brand                      0
notRepairedDamage      72060
dateCreated                0
nrOfPictures               0
postalCode                 0
lastSeen                   0
dtype: int64

In [8]:
german['dateCrawled'].min() # '2016-03-05 14:06:22'
german['dateCrawled'].max() # '2016-04-07 14:36:58'
type(german['dateCrawled'][0]) # str

#dates to format datetime and varnames in a standart format
german['date_crawled_dt'] = pd.to_datetime(pd.Series(german.dateCrawled))

In [9]:
german['name'].sample(20)
## Name is a hard variable to parse since it seems to resemble some type of description. We'll still need to keep it

180358        CLK_230_Kompressor_Sport__TÃœV_07.17__154000km
271679    Twingo_1.2_16V_LPG_Servo_Faltdach_TÃœV_8/2017_T...
3848                                   ford_mondeo_mk3_tdci
339945                    CitroÃ«n_C5_Kombi_3.0_V6_Exclusive
249364                                          Peugeot_206
64941     Mercedes_Benz_C_220_T_CDI_Automatik_Classic_DP...
118520                               Seat_Ibiza_1.2_Best_of
110137    Suche_fahrbereiten_PKW_LKW_Traktor!!!_Barzahlu...
203694            BMW_X3_20i_Panoramad._AHK._Tempomat_Leder
74926     Mercedes_Benz_Vito_116_CDI_4MATIC_Lang_Aut._Mi...
149334                                    VW_Touran_1_9_TDI
18105                                        2x_Trabant_601
302934                           Mazda_MX_5_1.9i_16V_Impuls
276283                                  Volkswagen_Golf_1.6
248536                                     Audi_A4_1.8_tfsi
321653                                  Golf4_1.9_tdi_110ps
54445                             Audi_S6_Avant_5.2_Quattro
107256                                        Seat_Leon_1.6
369316                               Mein_Liebling_muss_weg
301186                        Vito_639_Kompakt__Transporter
Name: name, dtype: object

In [10]:
german['seller'].value_counts()
## German Sellers are clearly lying here. Only 3 commercial sales, the rest is private. This column is useless
## But we can discuss dropping these 3 results since they can be biased towards the rest of the sample

privat        371525
gewerblich         3
Name: seller, dtype: int64

In [11]:
german['offerType'].value_counts()
## 12 adds for demand and the overwhelming majority is offer. We're droping these values

#######NEED TO RENAME COLUMN

Angebot    371516
Gesuch         12
Name: offerType, dtype: int64

In [12]:
german['price'].describe()
# german['price'].max()
# german['price'].value_counts()
# The values = 0 are contaminated data and we're getting rid of it

count    3.715280e+05
mean     1.729514e+04
std      3.587954e+06
min      0.000000e+00
25%      1.150000e+03
50%      2.950000e+03
75%      7.200000e+03
max      2.147484e+09
Name: price, dtype: float64

In [13]:
german['price'].nlargest(n=86, keep='first').min()

## I decided to erase the entries for all cars over 911911â‚¬. It seems many users inputed the max price value allowed, so it's contaminated data.

849000

In [14]:
german['price'].nlargest(n=85, keep='first').min()

## I decided to erase the entries for all cars over 911911â‚¬. It seems many users inputed the max price value allowed, so it's contaminated data.

911911

In [15]:
german['abtest'].value_counts()
## I have no idea what this column means.

test       192585
control    178943
Name: abtest, dtype: int64

In [16]:
german['vehicleType']
## Need to make a dictionary to convert this to english

## Think we need to drop "andere" or "other"
##
german['vehicleType'].value_counts()

## The matching of this variable will be a problem

limousine     95894
kleinwagen    80023
kombi         67564
bus           30201
cabrio        22898
coupe         19015
suv           14707
andere         3357
Name: vehicleType, dtype: int64

In [38]:
german['yearOfRegistration'].value_counts()

german['yearOfRegistration'].nsmallest(n=50000, keep='first').max()

german.groupby("fuelType")["vehicleType"].value_counts()
## I'd exclude the 50.000 oldest entries. We'll still analyze the last 20 years of vehicles but won't contaminate our data with classic vehicles who are not the bulk of the automobiles in circulation and are treated more as classics. Either that or we cut it 25 years prior to the year of analysis, in accordance with the definition of classic

15115

In [18]:
german['gearbox'].value_counts()


## worthwile analysis

manuell      274214
automatik     77105
Name: gearbox, dtype: int64

In [19]:
german['powerPS'].describe()

## convert it to horsepower

german['horsepower'] = german['powerPS']*0.986 
german['horsepower'].describe()

german['horsepower'].nlargest(n=300, keep='first').min()

## I think that a car with more than 1000HP should be considered a rocket instead so I'll drop these ~300 entries

987.972

In [20]:
#german['model'].value_counts()

## 26k model = other - assortment of weird stuff - don't want this variable

#german[german['model']=='andere']

print(len(german['brand'].unique()))

(german[german['brand']=='mercedes_benz'] ['model']).unique()

#german['brand'].unique()
#set(german['model'])

40

array(['a_klasse', 'andere', 'e_klasse', 'b_klasse', 'c_klasse', 'vito',
       'sprinter', 'slk', 'glk', 'm_klasse', 'viano', 's_klasse', 'sl',
       'clk', nan, 'v_klasse', 'cl', 'g_klasse', 'gl'], dtype=object)

In [21]:
german['kilometer'].value_counts()

#ys = [y for y in german['yearOfRegistration'].unique()]
#ys = sorted(ys)

g2 = german[german['yearOfRegistration'] == 2016]
g2['kilometer'].value_counts() 
#g2['kilometer'].value_counts().sum() 
###This var is a problem and it's being discussed in slack

150000    7422
125000     740
5000       597
100000     283
90000      196
80000      147
70000      108
60000       92
20000       76
30000       57
50000       56
40000       55
10000       30
Name: kilometer, dtype: int64

In [22]:
# german['month_of_registration_dt'] = pd.to_datetime(pd.Series(german.monthOfRegistration), unit = "m")
# german['month_of_registration_dt']

# I dont know how to pass this into datetime. will check later

In [23]:
german['fuelType'].value_counts()

## Make translation dict

benzin     223857
diesel     107746
lpg          5378
cng           571
hybrid        278
andere        208
elektro       104
Name: fuelType, dtype: int64

In [24]:
print(german['brand'].isna().sum())

german['brand'].value_counts()

0

volkswagen        79640
bmw               40274
opel              40136
mercedes_benz     35309
audi              32873
ford              25573
renault           17969
peugeot           11027
fiat               9676
seat               7022
mazda              5695
skoda              5641
smart              5249
citroen            5182
nissan             5037
toyota             4694
sonstige_autos     3982
hyundai            3646
mini               3394
volvo              3327
mitsubishi         3061
honda              2836
kia                2555
alfa_romeo         2345
suzuki             2328
porsche            2215
chevrolet          1845
chrysler           1452
dacia               900
jeep                807
daihatsu            806
subaru              779
land_rover          770
jaguar              621
trabant             591
daewoo              542
saab                530
rover               490
lancia              484
lada                225
Name: brand, dtype: int64

In [25]:
print(german['notRepairedDamage'].isna().sum())
## 72k null values - drop?
german['notRepairedDamage'].value_counts()

72060

nein    263182
ja       36286
Name: notRepairedDamage, dtype: int64

In [42]:
(german['dateCreated'] == german['dateCrawled']).sum() ##samevar

0

In [27]:
german['nrOfPictures'].value_counts() ## all 0's... Why is this shit here?

0    371528
Name: nrOfPictures, dtype: int64

In [28]:
# german['postalCode']
# I don't care. treat germany as a whole and drop

In [29]:
german['lastSeen'].max()

## it seems this var is tracking the last time the car was seen on the site. useless

'2016-04-07 14:58:51'

In [30]:
columns_to_keep = ['name', 'price', 'vehicleType', 'yearOfRegistration', 'gearbox', 'horsepower', 'model', 'kilometer', 'fuelType', 'brand', 'notRepairedDamage']

In [31]:
## drop entries
print(german.isna().sum().sum())

## we want to drop every row with na actually
init_entries = german.shape[0]
##
german = german.dropna()
##
current_entries = german.shape[0]
print('We dropped ',  init_entries - current_entries, ' entries due to having NaN in a variable of interest')

#we can eyeball there's some heavy correlation on NaN entries across diff variables.
# we're not populating the dataset since this is not machine learning

184008
We dropped  110572  entries due to having NaN in a variable of interest

In [32]:
## Drop the demand ads
init_entries = german.shape[0]
##
german = german[german['offerType'] != "Gesuch"]
##
current_entries = german.shape[0]
print('We dropped ',  init_entries - current_entries, ' entries due to being the incorrect type of ad')

##heavy correlation with previous drops

We dropped  4  entries due to being the incorrect type of ad

In [33]:
## Drop the commercial ads
init_entries = german.shape[0]
##
german = german[german['seller'] != "gewerblich"]
##
current_entries = german.shape[0]
print('We dropped ',  init_entries - current_entries, ' entries to avoid contamination of our dataset by honest \n cars sales professionals in germany - They are outliers')

We dropped  2  entries to avoid contamination of our dataset by honest
 cars sales professionals in germany - They are outliers

In [34]:
## drop heavily repaired cars
init_entries = german.shape[0]
##
german = german[german['notRepairedDamage'] == 'nein']
##
current_entries = german.shape[0]

print('We dropped ',  init_entries - current_entries, ' entries of heavily repaired cars')

We dropped  28009  entries of heavily repaired cars

In [35]:
#price drops
init_entries = german.shape[0]
##
german = german[german['price'] < 850000]
##
init_entries = german.shape[0]

print('We dropped ',  current_entries - init_entries, ' of stupidly expensive vehicles on the max value of the variable')
## I decided to erase the entries for all cars over 911911â‚¬. It seems many users inputed the max price value allowed, so it's contaminated data.

init_entries = german.shape[0]
##
german = german[german['price'] != 0]
##
init_entries = german.shape[0]

print('We dropped ', current_entries - init_entries, ' with price == 0')

german['price'].describe()
# german['price'].max()
# german['price'].value_counts()
# The values = 0 are contaminated data and we're getting rid of it

We dropped  16  of stupidly expensive vehicles on the max value of the variable
We dropped  2202  with price == 0

count    230739.000000
mean       7321.311087
std       10581.914410
min           1.000000
25%        1900.000000
50%        4400.000000
75%        9490.000000
max      849000.000000
Name: price, dtype: float64

In [36]:
german = german[german['horsepower'] < 1000] ## more than 1000 hp is a rocket
german = german[german['horsepower'] > 10] ## less than 10 hp is a bycicle
german['horsepower'].describe()
#german = german[german['horsepower'] < 15]
german

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,...,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen,date_crawled_dt,horsepower
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,...,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17,2016-03-17 16:54:04,73.950
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,...,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21,2016-03-31 17:25:20,68.034
6,2016-04-01 20:48:51,Peugeot_206_CC_110_Platinum,privat,Angebot,2200,test,cabrio,2004,manuell,109,...,8,benzin,peugeot,nein,2016-04-01 00:00:00,0,67112,2016-04-05 18:18:39,2016-04-01 20:48:51,107.474
10,2016-03-26 19:54:18,Mazda_3_1.6_Sport,privat,Angebot,2000,control,limousine,2004,manuell,105,...,12,benzin,mazda,nein,2016-03-26 00:00:00,0,96224,2016-04-06 10:45:34,2016-03-26 19:54:18,103.530
14,2016-03-21 12:57:01,Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Blu...,privat,Angebot,17999,control,suv,2011,manuell,190,...,3,diesel,nissan,nein,2016-03-21 00:00:00,0,4177,2016-04-06 07:45:42,2016-03-21 12:57:01,187.340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371516,2016-04-04 09:57:12,Volkswagen_Lupo_1.0,privat,Angebot,1490,control,kleinwagen,1998,manuell,50,...,9,benzin,volkswagen,nein,2016-04-04 00:00:00,0,48653,2016-04-06 11:17:13,2016-04-04 09:57:12,49.300
371517,2016-03-28 13:48:07,Volkswagen_Golf_2.0_TDI_DPF_Team,privat,Angebot,7900,test,limousine,2010,manuell,140,...,7,diesel,volkswagen,nein,2016-03-28 00:00:00,0,75223,2016-04-02 18:16:20,2016-03-28 13:48:07,138.040
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,...,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12,2016-03-05 19:56:21,99.586
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,...,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26,2016-03-19 18:57:12,100.572
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,...,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10,2016-03-07 19:39:19,315.520

In [40]:
german = german[german['yearOfRegistration'] <= 2016]

german['yearOfRegistration'].describe()

count    223137.000000
mean       2003.762290
std           6.417377
min        1923.000000
25%        2000.000000
50%        2004.000000
75%        2008.000000
max        2015.000000
Name: yearOfRegistration, dtype: float64

In [43]:
german = german[columns_to_keep]

In [44]:
german

,name,price,vehicleType,yearOfRegistration,gearbox,horsepower,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
3,GOLF_4_1_4__3TÃœRER,1500,kleinwagen,2001,manuell,73.950,golf,150000,6,benzin,volkswagen,nein
4,Skoda_Fabia_1.4_TDI_PD_Classic,3600,kleinwagen,2008,manuell,68.034,fabia,90000,7,diesel,skoda,nein
6,Peugeot_206_CC_110_Platinum,2200,cabrio,2004,manuell,107.474,2_reihe,150000,8,benzin,peugeot,nein
10,Mazda_3_1.6_Sport,2000,limousine,2004,manuell,103.530,3_reihe,150000,12,benzin,mazda,nein
14,Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Blu...,17999,suv,2011,manuell,187.340,navara,70000,3,diesel,nissan,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371516,Volkswagen_Lupo_1.0,1490,kleinwagen,1998,manuell,49.300,lupo,150000,9,benzin,volkswagen,nein
371517,Volkswagen_Golf_2.0_TDI_DPF_Team,7900,limousine,2010,manuell,138.040,golf,150000,7,diesel,volkswagen,nein
371524,Smart_smart_leistungssteigerung_100ps,1199,cabrio,2000,automatik,99.586,fortwo,125000,3,benzin,smart,nein
371525,Volkswagen_Multivan_T4_TDI_7DC_UY2,9200,bus,1996,manuell,100.572,transporter,150000,3,diesel,volkswagen,nein
371527,BMW_M135i_vollausgestattet_NP_52.720____Euro,28990,limousine,2013,manuell,315.520,m_reihe,50000,8,benzin,bmw,nein

In [45]:
german.to_csv(path + "german.csv")