# USED CARS
### we need a better name

** This notebook's purpose is only for the german dataset cleaning and manipulation into an actionable dataframe to our purposes

In [1]:
##lib importing
import pandas as pd

In [2]:
##files loading
path = "./datasets/"
filename = "autos.csv"
german = pd.read_csv(path + filename, encoding='latin1')
german

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

### Quick look into the dataset

In [3]:
german.shape

(371528, 20)

In [4]:
german.dtypes

dateCrawled            object
name                   object
seller                 object
offerType              object
price                   int64
abtest                 object
vehicleType            object
yearOfRegistration      int64
gearbox                object
powerPS                 int64
model                  object
kilometer               int64
monthOfRegistration     int64
fuelType               object
brand                  object
notRepairedDamage      object
dateCreated            object
nrOfPictures            int64
postalCode              int64
lastSeen               object
dtype: object

In [5]:
german.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [6]:
german.dtypes

dateCrawled            object
name                   object
seller                 object
offerType              object
price                   int64
abtest                 object
vehicleType            object
yearOfRegistration      int64
gearbox                object
powerPS                 int64
model                  object
kilometer               int64
monthOfRegistration     int64
fuelType               object
brand                  object
notRepairedDamage      object
dateCreated            object
nrOfPictures            int64
postalCode              int64
lastSeen               object
dtype: object

In [7]:
## Null Values
german.isna().sum()

dateCrawled                0
name                       0
seller                     0
offerType                  0
price                      0
abtest                     0
vehicleType            37869
yearOfRegistration         0
gearbox                20209
powerPS                    0
model                  20484
kilometer                  0
monthOfRegistration        0
fuelType               33386
brand                      0
notRepairedDamage      72060
dateCreated                0
nrOfPictures               0
postalCode                 0
lastSeen                   0
dtype: int64

In [8]:
german['dateCrawled'].min() # '2016-03-05 14:06:22'
german['dateCrawled'].max() # '2016-04-07 14:36:58'
type(german['dateCrawled'][0]) # str

#dates to format datetime and varnames in a standart format
german['date_crawled_dt'] = pd.to_datetime(pd.Series(german.dateCrawled))

In [9]:
german['name'].sample(20)
## Name is a hard variable to parse since it seems to resemble some type of description. We'll still need to keep it

63984                                          Subaru_Kombi
49820                                       Volvo_V40_1.9_D
23240                             Opel_corsa_B_1.2_Tuev_Neu
272981                            Mitsubishi_Colt_1.3_Polar
334681    VOLKSWAGEN_POLO_9N_mit_NEU_TUV.__<<<KLEIN_WAGE...
142930                           Volkswagen_____Golf_1.6_CL
270767                               Nissan_Micra_1.2_visia
349523           Peugeot_206_panoramadach__Klima_TÃœV_Au_neu
76312     Volkswagen_VW_Golf_IV_4_Variant_Special_Benzin...
296388    Citroen_Xsara_Chrono_Rentnerfahrzeug_TÃœV_Neu+S...
262707                         MAZDA_626_KOMBI_BENZIN_KLIMA
275438                             Renault_Megane_Coupe_1.6
204343    BMW_320d_Coupe_Aut._M_Sportpaket__Navi__Xenon_...
182743                MINI_Mini_Cooper__gelb__Pan._Dach__ZV
195141                                         Sehr_Guestig
211800                    Volkswagen_Passat_Variant_1.9_TDI
292369    Mazda_MX_5_SKYACTIV_G__Exclusive__LED__18Zoll_...
26939                         Mercedes_Benz_CLC_200_CDI_DPF
258230               Mercedes_Benz_A_180_CDI_Avantgarde_DPF
131733                                Renault_Megane_1.5dci
Name: name, dtype: object

In [10]:
german['seller'].value_counts()
## German Sellers are clearly lying here. Only 3 commercial sales, the rest is private. This column is useless
## But we can discuss dropping these 3 results since they can be biased towards the rest of the sample

privat        371525
gewerblich         3
Name: seller, dtype: int64

In [11]:
german['offerType'].value_counts()
## 12 adds for demand and the overwhelming majority is offer. We're droping these values

#######NEED TO RENAME COLUMN

Angebot    371516
Gesuch         12
Name: offerType, dtype: int64

In [12]:
german['price'].describe()
# german['price'].max()
# german['price'].value_counts()
# The values = 0 are contaminated data and we're getting rid of it

count    3.715280e+05
mean     1.729514e+04
std      3.587954e+06
min      0.000000e+00
25%      1.150000e+03
50%      2.950000e+03
75%      7.200000e+03
max      2.147484e+09
Name: price, dtype: float64

In [118]:
german['price'].nlargest(n=86, keep='first').min()

## I decided to erase the entries for all cars over 911911â‚¬. It seems many users inputed the max price value allowed, so it's contaminated data.

849000

In [14]:
german['price'].nlargest(n=85, keep='first').min()

## I decided to erase the entries for all cars over 911911â‚¬. It seems many users inputed the max price value allowed, so it's contaminated data.

911911

In [15]:
german['abtest'].value_counts()
## I have no idea what this column means.

test       192585
control    178943
Name: abtest, dtype: int64

In [67]:
german['vehicleType']
## Need to make a dictionary to convert this to english

## Think we need to drop "andere" or "other"
##
german['vehicleType'].value_counts()

## The matching of this variable will be a problem

limousine     95894
kleinwagen    80023
kombi         67564
bus           30201
cabrio        22898
coupe         19015
suv           14707
andere         3357
Name: vehicleType, dtype: int64

In [49]:
german['yearOfRegistration'].value_counts()

german['yearOfRegistration'].nsmallest(n=50000, keep='first').max()

german.groupby("fuelType")["vehicleType"].value_counts()
## I'd exclude the 50.000 oldest entries. We'll still analyze the last 20 years of vehicles but won't contaminate our data with classic vehicles who are not the bulk of the automobiles in circulation and are treated more as classics. Either that or we cut it 25 years prior to the year of analysis, in accordance with the definition of classic

1997

In [82]:
german['gearbox'].value_counts()


## worthwile analysis

manuell      274214
automatik     77105
Name: gearbox, dtype: int64

In [66]:
german['powerPS'].describe()

## convert it to horsepower

german['horsepower'] = german['powerPS']*0.986 
german['horsepower'].describe()

german['horsepower'].nlargest(n=300, keep='first').min()

## I think that a car with more than 1000HP should be considered a rocket instead so I'll drop these ~300 entries

987.972

In [146]:
#german['model'].value_counts()

## 26k model = other - assortment of weird stuff - don't want this variable

#german[german['model']=='andere']

print(len(german['brand'].unique()))

(german[german['brand']=='mercedes_benz'] ['model']).unique()

#german['brand'].unique()
#set(german['model'])

40

array(['a_klasse', 'andere', 'e_klasse', 'b_klasse', 'c_klasse', 'vito',
       'sprinter', 'slk', 'glk', 'm_klasse', 'viano', 's_klasse', 'sl',
       'clk', nan, 'v_klasse', 'cl', 'g_klasse', 'gl'], dtype=object)

In [84]:
german['kilometer'].value_counts()

###This var is a problem and it's being discussed in slack

150000    240797
125000     38067
100000     15920
90000      12523
80000      11053
70000       9773
60000       8669
50000       7615
5000        7069
40000       6376
30000       6041
20000       5676
10000       1949
Name: kilometer, dtype: int64

In [94]:
# german['month_of_registration_dt'] = pd.to_datetime(pd.Series(german.monthOfRegistration), unit = "m")
# german['month_of_registration_dt']

# I dont know how to pass this into datetime. will check later

In [96]:
german['fuelType'].value_counts()

## Make translation dict

benzin     223857
diesel     107746
lpg          5378
cng           571
hybrid        278
andere        208
elektro       104
Name: fuelType, dtype: int64

In [101]:
print(german['brand'].isna().sum())

german['brand'].value_counts()

0

volkswagen        79640
bmw               40274
opel              40136
mercedes_benz     35309
audi              32873
ford              25573
renault           17969
peugeot           11027
fiat               9676
seat               7022
mazda              5695
skoda              5641
smart              5249
citroen            5182
nissan             5037
toyota             4694
sonstige_autos     3982
hyundai            3646
mini               3394
volvo              3327
mitsubishi         3061
honda              2836
kia                2555
alfa_romeo         2345
suzuki             2328
porsche            2215
chevrolet          1845
chrysler           1452
dacia               900
jeep                807
daihatsu            806
subaru              779
land_rover          770
jaguar              621
trabant             591
daewoo              542
saab                530
rover               490
lancia              484
lada                225
Name: brand, dtype: int64

In [102]:
print(german['notRepairedDamage'].isna().sum())
## 72k null values - drop?
german['notRepairedDamage'].value_counts()

72060

nein    263182
ja       36286
Name: notRepairedDamage, dtype: int64

In [105]:
(german['dateCreated'] == german['dateCrawled']).sum() ##samevar

0

In [106]:
german['nrOfPictures'].value_counts() ## all 0's... Why is this shit here?

0    371528
Name: nrOfPictures, dtype: int64

In [107]:
# german['postalCode']
# I don't care. treat germany as a whole and drop

0         70435
1         66954
2         90480
3         91074
4         60437
          ...
371523    39576
371524    26135
371525    87439
371526    40764
371527    73326
Name: postalCode, Length: 371528, dtype: int64

In [117]:
german['lastSeen'].max()

## it seems this var is tracking the last time the car was seen on the site. useless

'2016-03-05 14:15:08'