In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('vehicles.csv')
df.shape

(509577, 25)

In [5]:
df.dtypes
df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'vin', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long'],
      dtype='object')

In [6]:
df.dtypes

id                int64
url              object
region           object
region_url       object
price             int64
year            float64
manufacturer     object
model            object
condition        object
cylinders        object
fuel             object
odometer        float64
title_status     object
transmission     object
vin              object
drive            object
size             object
type             object
paint_color      object
image_url        object
description      object
county          float64
state            object
lat             float64
long            float64
dtype: object

In [15]:
df.isna().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year              1527
manufacturer     22764
model             7989
condition       231934
cylinders       199683
fuel              3985
odometer         92324
title_status      3062
transmission      3719
vin             207425
drive           144143
size            342003
type            141531
paint_color     164706
image_url           14
description         16
county          509577
state                0
lat              10292
long             10292
dtype: int64

In [18]:
df['condition'].value_counts()

excellent    140663
good          97261
like new      28166
fair           9461
new            1406
salvage         686
Name: condition, dtype: int64

In [19]:
ger = pd.read_csv('cnt_km_year_powerPS_minPrice_maxPrice_avgPrice_sdPrice.csv')

In [20]:
ger

,count,km,year,powerPS,minPrice,maxPrice,avgPrice,sdPrice
0,19,125000,1991,40,300,1499,648.3158,352.035293
1,69,150000,1991,40,110,1600,516.4348,346.767661
2,11,90000,1991,60,330,10000,2342.4545,3017.432333
3,26,100000,1991,60,200,8750,1392.3846,1598.662833
4,42,125000,1991,60,150,4600,1140.6429,1010.314138
...,...,...,...,...,...,...,...,...
1765,24,20000,2015,260,25490,73000,49492.3750,17182.173184
1766,16,10000,2015,300,699,60000,38542.6875,12924.901241
1767,25,20000,2015,300,487,82700,39683.3200,13065.072294
1768,22,10000,2015,320,33000,68450,50372.6364,10736.265072
1769,16,20000,2015,320,33950,85800,58096.2500,14002.933565

In [29]:
ger_real = pd.read_csv('autos.csv', sep = ',', encoding='latin1')

In [40]:
ger_real['brand']

0             volkswagen
1                   audi
2                   jeep
3             volkswagen
4                  skoda
               ...
371523    sonstige_autos
371524             smart
371525        volkswagen
371526        volkswagen
371527               bmw
Name: brand, Length: 371528, dtype: object