In [1]:
import pandas as pd

In [2]:
german = pd.read_csv('../datasets/german_transl.csv', index_col = 0)

In [3]:
pt = pd.read_csv('Final300.csv', index_col = 0)

In [4]:
pt

,Ano de Registo,Combustível,Condição,ID,Marca,Origem,Potência,Quilómetros,Segmento,Série,Tipo de Caixa
0,2013,Gasolina,Usados,8073675579,Cadillac,NaN,409,47200,SUV / TT,NaN,Automática
1,2012,Diesel,Usados,8069978966,Porsche,NaN,250,113000,Sedan,NaN,Automática
2,2013,Diesel,Usados,8068316065,Citroën,NaN,115,104000,Citadino,NaN,Manual
3,2018,Diesel,Usados,8074629399,BMW,NaN,190,35000,Sedan,Série 5,Automática
4,2018,Diesel,Usados,8075510964,Mercedes-Benz,Nacional,190,78453,Sedan,Classe E,Automática
...,...,...,...,...,...,...,...,...,...,...,...
15809,2017,Diesel,Usados,8047877369,MINI,Nacional,116,10000,Citadino,NaN,Automática
15810,2015,Gasolina,Usados,8075644442,Yamaha,NaN,200,17900,Supersport,NaN,Unknown
15811,2018,Diesel,Usados,8074969766,BMW,NaN,190,22373,Carrinha,Série 3,Automática
15812,2018,Diesel,Usados,8041049841,BMW,Nacional,190,10000,Sedan,Série 5,Automática
15813,2018,Diesel,Usados,8070351518,Mercedes-Benz,Nacional,204,33000,Cabrio,Classe C,Automática

In [5]:
german.groupby(['brand']).agg({'horsepower': 'mean', 'km': 'mean'})

#DataFrame.groupby(self, by=None, axis=0, level=None, as_index: bool = True, sort: bool = True, group_keys: bool = True, squeeze: bool = False, observed: bool = False)

               horsepower             km
brand
alfa_romeo     142.248207  125885.939742
audi           167.005675  125349.427918
bmw            174.861313  130611.090504
chevrolet      142.832309   96931.518876
chrysler       168.044025  133597.484277
citroen         96.860142  116716.731266
dacia           87.570978   84605.678233
daewoo          82.070248  121632.231405
daihatsu        68.444717  116179.361179
fiat            79.315677  110584.012418
ford           107.191044  120094.048287
honda          116.494197  122125.839951
hyundai        111.147919   98502.266172
jaguar         241.838480  120843.230404
jeep           183.083488  117031.539889
kia            118.934704  102756.952842
lada            78.844828   66637.931034
lancia         100.904000  119920.000000
land_rover     166.925400  115106.571936
mazda          120.427219  121213.017751
mercedes_benz  167.697212  128456.193865
mini           126.049871   90788.695973
mitsubishi     118.453939  122978.787879
nissan         109.642326  114242.731575
opel           101.075261  125122.884303
peugeot        100.783574  119745.247148
porsche        297.672159   98514.204545
renault         91.209164  123294.339623
rover          111.648649  132864.864865
saab           162.418338  141547.277937
seat           100.781027  115192.263412
skoda          107.179431  109957.044674
smart           62.972398   93651.479880
subaru         143.860360  121283.783784
suzuki          90.132394  103411.971831
toyota         109.300672  114884.004884
trabant         26.039683   49126.984127
volkswagen     108.666312  124506.084847
volvo          150.025346  136347.926267

In [6]:
dict_transm = {'automatic' : 1, 'manual': 0}

In [7]:
german['transmission'] = german['transmission'].map(dict_transm)

german['transmission'].value_counts()

0    169670
1     53726
Name: transmission, dtype: int64

In [8]:
german.groupby(['brand','fuel_type'])

In [46]:
gas = german.groupby(['year']).agg({'fuel_type': lambda x : sum(x == 'gas')})
diesel = german.groupby(['year']).agg({'fuel_type': lambda x : sum(x == 'diesel')})
electric = german.groupby(['year']).agg({'fuel_type': lambda x : sum(x == 'electric')})
GPL = german.groupby(['year']).agg({'fuel_type': lambda x : sum(x == 'GPL')})
hybrid = german.groupby(['year']).agg({'fuel_type': lambda x : sum(x == 'hybrid')})
CNG = german.groupby(['year']).agg({'fuel_type': lambda x : sum(x == 'CNG')})

#fuel_type_df = pd.concat([gas, diesel] axis = 0)
fuel_type_df = pd.concat([gas, diesel, electric, GPL, hybrid, CNG], keys=['gas', 'diesel', 'electric', 'GPL', 'hybrid', 'CNG'], axis = 1)

In [47]:
#df.count()

fuel_type_df['year_total'] = fuel_type_df.sum(axis=1)

In [48]:
fuel_type_ratios = fuel_type_df.loc[:,"gas":"CNG"].div(fuel_type_df["year_total"], axis=0)

#fuel_type_df['gas_ratio'] = fuel_type_df['gas'] / fuel_type_df['year_total']

#fuel_type_df

#for c in fuel_type_df:
#3    c = c/fuel_type_df['year_total']

In [49]:
fuel_type_ratios.tail()

           gas    diesel  electric       GPL    hybrid       CNG
     fuel_type fuel_type fuel_type fuel_type fuel_type fuel_type
year
2012  0.474545  0.515002  0.001599  0.005042  0.003074  0.000738
2013  0.516459  0.470709  0.000930  0.002604  0.005393  0.003906
2014  0.512589  0.478147  0.001900  0.001663  0.003563  0.002138
2015  0.547929  0.443542  0.001219  0.000812  0.003656  0.002843
2016  0.672185  0.307947  0.009934  0.000000  0.009934  0.000000

In [50]:
fuel_type_ratios.columns = fuel_type_ratios.columns.get_level_values(0)

In [51]:
fuel_type_ratios

           gas    diesel  electric       GPL    hybrid       CNG
year
1923  1.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1930  1.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1931  1.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1932  1.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1934  1.000000  0.000000  0.000000  0.000000  0.000000  0.000000
...        ...       ...       ...       ...       ...       ...
2012  0.474545  0.515002  0.001599  0.005042  0.003074  0.000738
2013  0.516459  0.470709  0.000930  0.002604  0.005393  0.003906
2014  0.512589  0.478147  0.001900  0.001663  0.003563  0.002138
2015  0.547929  0.443542  0.001219  0.000812  0.003656  0.002843
2016  0.672185  0.307947  0.009934  0.000000  0.009934  0.000000

[83 rows x 6 columns]

In [52]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!