# USED CARS
### we need a better name

** This notebook's purpose is only for the german dataset cleaning and manipulation into an actionable dataframe to our purposes

In [1]:
##lib importing
import pandas as pd

In [10]:
##files loading
path = "./datasets/"
filename = "autos.csv"
german = pd.read_csv(path + filename, encoding='latin1')
german

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

### Quick look into the dataset

In [11]:
german.shape

(371528, 20)

In [12]:
german.dtypes

dateCrawled            object
name                   object
seller                 object
offerType              object
price                   int64
abtest                 object
vehicleType            object
yearOfRegistration      int64
gearbox                object
powerPS                 int64
model                  object
kilometer               int64
monthOfRegistration     int64
fuelType               object
brand                  object
notRepairedDamage      object
dateCreated            object
nrOfPictures            int64
postalCode              int64
lastSeen               object
dtype: object

In [13]:
german.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [14]:
german.dtypes

dateCrawled            object
name                   object
seller                 object
offerType              object
price                   int64
abtest                 object
vehicleType            object
yearOfRegistration      int64
gearbox                object
powerPS                 int64
model                  object
kilometer               int64
monthOfRegistration     int64
fuelType               object
brand                  object
notRepairedDamage      object
dateCreated            object
nrOfPictures            int64
postalCode              int64
lastSeen               object
dtype: object

In [15]:
## Null Values
german.isna().sum()

dateCrawled                0
name                       0
seller                     0
offerType                  0
price                      0
abtest                     0
vehicleType            37869
yearOfRegistration         0
gearbox                20209
powerPS                    0
model                  20484
kilometer                  0
monthOfRegistration        0
fuelType               33386
brand                      0
notRepairedDamage      72060
dateCreated                0
nrOfPictures               0
postalCode                 0
lastSeen                   0
dtype: int64

In [33]:
german['dateCrawled'].min() # '2016-03-05 14:06:22'
german['dateCrawled'].max() # '2016-04-07 14:36:58'
type(german['dateCrawled'][0]) # str

#dates to format datetime and varnames in a standart format
german['date_crawled_dt'] = pd.to_datetime(pd.Series(german.dateCrawled))

In [34]:
german['name'].sample(20)
## Name is a hard variable to parse since it seems to resemble some type of description. We'll still need to keep it

53650                                      Ver._kia_sorento
313649                                          Ford_Fiesta
45763                                            VW_Polo_6N
304609                  Peugeot_206_60_Unfallfrei/_HU_06/16
145954                      Opel_Tigra_Twin_Top_1.4_Edition
214274               Audi_TT_Roaster_Quattro_mit_103.000_km
249358               HYUNDAI_MATRIX_1_6_GLS_Edition_Minivan
39636                                    Opel_Agila_TÃœV_NEU
56968     Caddy_BJ_1997_LKW_Kasten_2.Hand___8/2016__Kupp...
222498       Volkswagen_Golf_1.9_TDI_*Highline*_*TÃœV_2018_*
267217                                Audi_A6_Avant_2.5_TDI
148919                                              BMW_116
278957                                   Toyota_Unfallwagen
116160    HILFE!!!_Suche_Fiat_500_C_Cabrio_perlmutt_weiss_!
95206                        Volkswagen_Golf_III_Cabrio_1.8
195899                 Opel_Corsa_1.4_16V_Automatik_Edition
301831                               BMW_520d_M_Packet.VOLL
107466    BMW_316i_Compakt_1.9l_Tuev_neu_3/2018__D4__ABS...
48212                                       Peugeot_206+_VB
40688                           Smart_for_Two_Leder_Passion
Name: name, dtype: object

In [38]:
german['seller'].value_counts()
## German Sellers are clearly lying here. Only 3 commercial sales, the rest is private. This column is useless
## But we can discuss dropping these 3 results since they can be biased towards the rest of the sample

privat        371525
gewerblich         3
Name: seller, dtype: int64

In [39]:
german['offerType'].value_counts()
## 12 adds for demand and the overwhelming majority is offer. We're droping these values

Angebot    371516
Gesuch         12
Name: offerType, dtype: int64

In [48]:
german['price'].describe()
# german['price'].max()
# german['price'].value_counts()
# A decision needs to be made about the price upper outliers.

count    3.715280e+05
mean     1.729514e+04
std      3.587954e+06
min      0.000000e+00
25%      1.150000e+03
50%      2.950000e+03
75%      7.200000e+03
max      2.147484e+09
Name: price, dtype: float64