In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
# Load scrapped CSV files

data1 = pd.read_csv('SV1663.csv')
data2 = pd.read_csv('SV2942.csv')
data3 = pd.read_csv('SV5092.csv')
data4 = pd.read_csv('SV6176.csv')
data5 = pd.read_csv('SV7401.csv')
data6 = pd.read_csv('SV13537.csv')
data7 = pd.read_csv('StdV499.csv')

In [3]:
#concatenate all df
#data = data7
data = pd.concat([data1, data2, data3, data4, data5, data6, data7])
data.shape

<ipython-input-3-df4a895dc163>:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  data = pd.concat([data1, data2, data3, data4, data5, data6, data7])

(31989, 15)

In [4]:
# Clean data

# Drop not used columns
data.reset_index(inplace = True)
data.drop(['Classe do veículo', 'Valor Fixo', 'Matrícula', 'Unnamed: 0','index'], axis = 1, inplace = True)

# Drop New Cars and public transport bus (1 vehicle)
data = data [data['Condição'] == 'Usados']
data = data [data['Segmento'] != 'Transportes']

# Column Potência convert to int
data['Potência'] = [re.sub('\D+','', str(el)) for el in data['Potência']]
data['Potência'] = data['Potência'].astype(int)
data = data[data['Potência'] > 10]

# Column km convert to int & remove very low values not compatible with used cars
data['Quilómetros'] = [int(re.sub('\D+','', el)) for el in data['Quilómetros']]
data = data[data['Quilómetros'] > 100]
data.shape

#NaN filling
data['Tipo de Caixa'].fillna('Unknown', inplace = True)

#drop duplicate entries
data.drop_duplicates(inplace = True)
duplicated_IDs = [8074761416,8073913822,8072480648,8075710174,8074971964,8075744290]
data.drop([442, 29824, 1911,2010,3690,4261],axis = 0, inplace = True)
data.reset_index(inplace = True)
data.drop(['index'], axis = 1, inplace = True)

In [5]:
data.to_csv('Final300.csv')
data

,Ano de Registo,Combustível,Condição,ID,Marca,Origem,Potência,Quilómetros,Segmento,Série,Tipo de Caixa
0,2013,Gasolina,Usados,8073675579,Cadillac,NaN,409,47200,SUV / TT,NaN,Automática
1,2012,Diesel,Usados,8069978966,Porsche,NaN,250,113000,Sedan,NaN,Automática
2,2013,Diesel,Usados,8068316065,Citroën,NaN,115,104000,Citadino,NaN,Manual
3,2018,Diesel,Usados,8074629399,BMW,NaN,190,35000,Sedan,Série 5,Automática
4,2018,Diesel,Usados,8075510964,Mercedes-Benz,Nacional,190,78453,Sedan,Classe E,Automática
...,...,...,...,...,...,...,...,...,...,...,...
15809,2017,Diesel,Usados,8047877369,MINI,Nacional,116,10000,Citadino,NaN,Automática
15810,2015,Gasolina,Usados,8075644442,Yamaha,NaN,200,17900,Supersport,NaN,Unknown
15811,2018,Diesel,Usados,8074969766,BMW,NaN,190,22373,Carrinha,Série 3,Automática
15812,2018,Diesel,Usados,8041049841,BMW,Nacional,190,10000,Sedan,Série 5,Automática
15813,2018,Diesel,Usados,8070351518,Mercedes-Benz,Nacional,204,33000,Cabrio,Classe C,Automática

In [6]:
data['Ano de Registo'].value_counts().sort_index().tail(30)

1991      16
1992      29
1993      13
1994      25
1995      20
1996      34
1997      37
1998      83
1999     108
2000     160
2001     157
2002     189
2003     191
2004     223
2005     305
2006     328
2007     459
2008     622
2009     500
2010     758
2011     720
2012     568
2013     709
2014    1206
2015    1985
2016    1547
2017    1560
2018    1712
2019    1359
2020      29
Name: Ano de Registo, dtype: int64