In [3]:
import pandas as pd

In [7]:
data = pd.read_csv('All_Cars_Cleaned.csv')

,Unnamed: 0,Ano de Registo,Combustível,Condição,ID,Marca,Potência,Quilómetros,Segmento,Tipo de Caixa,Série,Origem
0,0,2013,Gasolina,Usados,8073675579,Cadillac,409,47200,SUV / TT,Automática,NaN,NaN
1,1,2012,Diesel,Usados,8069978966,Porsche,250,113000,Sedan,Automática,NaN,NaN
2,2,2013,Diesel,Usados,8068316065,Citroën,115,104000,Citadino,Manual,NaN,NaN
3,3,2018,Diesel,Usados,8074629399,BMW,190,35000,Sedan,Automática,Série 5,NaN
4,4,2018,Diesel,Usados,8075510964,Mercedes-Benz,190,78453,Sedan,Automática,Classe E,Nacional
...,...,...,...,...,...,...,...,...,...,...,...,...
15809,15809,2017,Diesel,Usados,8047877369,MINI,116,10000,Citadino,Automática,NaN,Nacional
15810,15810,2015,Gasolina,Usados,8075644442,Yamaha,200,17900,Supersport,Unknown,NaN,NaN
15811,15811,2018,Diesel,Usados,8074969766,BMW,190,22373,Carrinha,Automática,Série 3,NaN
15812,15812,2018,Diesel,Usados,8041049841,BMW,190,10000,Sedan,Automática,Série 5,Nacional
15813,15813,2018,Diesel,Usados,8070351518,Mercedes-Benz,204,33000,Cabrio,Automática,Classe C,Nacional

In [ ]:
german_data = pd.read_csv('')